<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <a href="#" class="brand-logo"
            style="background-color: #4caf50;height: 64px;font-size: 30px;color: white;">WINKEL</a>
        <div class="user-view">
            <div class="background" style="background-color: #66bb6a ;">
            </div>
            <a href="#"><span class="white-text name">USER Name</span></a>
            <a href="#"><span class="white-text email">Email</span></a>
        </div>
    </li>
    <li><a href="#!">Product List</a></li>
    <li><a href="#!">Orders</a></li>
</ul>

<div class="wrapper">
    <nav>
        <div class="nav-wrapper green">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login">Logout</a></li>
              </ul>
        </div>
    </nav>   
     <router-outlet></router-outlet>

    <app-footer></app-footer>
</div>
