<footer class="page-footer green">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Winkel</h5>
        <p class="grey-text text-lighten-4">Some caption about website</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="/register/user">Create an Account</a></li>
          <li><a class="grey-text text-lighten-3" href="/register/shop">Want to enhance your business? Join Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Copyright © 2020 WINKEL
      <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>