<html>
<head></head>
<body>
    <h4 align="center">STORE REGISTRATION</h4>
    <form name="storeReg">
        <table align="center">
            <tr>
                <td>NAME:</td>
                <TD><input [value]="s_name" (input)="s_name=$event.target.value" type="text" placeholder="name"></TD>
            </tr>
            <tr>
                <td>ADDRESS:</td>
                <td><input [value]="s_address" (input)="s_address=$event.target.value" type="text" placeholder="address"></td>
            </tr>
            <tr>
                <td>PHONE NUMBER:</td>
                <td><input [value]="s_phone" (input)="s_phone=$event.target.value" type="number" placeholder="phoneno:"></td>
            </tr>
            <tr>
                <td>EMAIL:</td>
                <td><input [value]="s_email" (input)="s_email=$event.target.value" type="email" placeholder="email"></td>
            </tr>
            <tr>
                <td>TYPE OF STORE:</td>
                <td><select id="typesofstore" [value]="s_type" (input)="s_type=$event.target.value">
                    <option>Super Market</option>
                    <option>Hyper Market</option>
                    <option>Convinient Store</option>
                    <option>Grocery Store</option>
                </select></td>
            </tr>
            <tr>
                <td>USERNAME:</td>
                <td><input [value]="s_username" (input)="s_username=$event.target.value" type="text" placeholder="username"></td>
            </tr>
            <tr>
                <td>PASSWORD:</td>
                <td><input [value]="s_password" (input)="s_password=$event.target.value" type="password" placeholder="password"></td>
            </tr>
            <tr>
                <td><input type="submit" name="register" value="REGISTER" (click)="register()"></td>
                <td><input type="reset" name="reset" value="RESET"></td>
            </tr>

        </table>
    </form>
</body>


</html>



